body{
    height: 1000vh;
}

.logo{
    width: 2500px;
    height: 80vh;
    background-position:initial;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://raw.githubusercontent.com/erinmikaela/personal-blog/8078454f0abae9e5c6bb2da17677889f97dcd466/ASSETS/Cream%20and%20Brown%20Aesthetic%20Fashion%20Designer%20Twitter%20Header.svg);
    background-attachment: fixed;

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}