@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	/*border: red solid 1px;*/
}

body {
	height: 1000vh;
}

section {
    padding: 50px;
    margin: 10px;
    border-radius: 8px;
  }
  #it-projects {
    background-color: #f0f8ff;
  }
  #finance-blogs {
    background-color: #e6ffe6;
  }
  #contacts {
    background-color: #ffe6e6;
  }
  h2 {
    margin-top: 0;
  }

.logo {
	width: 1260px;
	height: 70vh;
	background-position: initial;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/personal-blog/41a2c0ba425a6c040a775b92267791f955533ec3/ASSETS/banner.svg);
	background-attachment: fixed;
}

.sidebar-icon {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 1050;
}

.card {
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
    margin: 10px 15px;
	box-sizing: border-box;
	cursor: pointer;
    align-items: center;
    background-color:lightgray;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-1{
    border: rgb(53,53,53) 0.1 rem solid;
}

.btn-color-1:hover{
    cursor: pointer;
}

.btn-color-1 {
    background-color: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover {
    background-color: rgb(0,0,0);
}

.col {
	display: block;
	text-align: center;
}

#author {
	width: 40vh;
	height: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -140px;
}

#section__text__p1 {
	text-align: center;
    margin-bottom: -.1rem;
}
#section__text__p2 {
	text-align: center;
	margin-bottom: 1rem;
}

#section__text__h1 {
	font-size: 3rem;
	text-align: center;
}

#footer {
    text-align: center;
}
