body{
    height: 1000vh;
}

.logo{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://github.com/erinmikaela/personal-blog/blob/main/ASSETS/banner.png?raw=true);
    background-attachment: fixed;

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}